html, body, #skrollr-body {
	width:100%;
	height:100%;
	overflow-x: hidden;
}

section {
	position: relative;
	width:100%;
	min-height:100%;
	background:transparent center no-repeat;
	background-size:cover;
	.clearfix();

	@media (max-width: @screen-sm-max) {

		min-height: 0;

	}
}

.add-sckollr {
	position:fixed;
	top:0;
	left:0;
}


.btn {
	text-transform: uppercase;
	font-family: @font-family-serif;
}


.featured-title {
	font-family: @font-featured;
	font-size: 126px;
	text-transform: uppercase;

	@media (max-width: @screen-sm-max) {

		font-size: 65px;

	}
}

.navigation-container {

	text-align: center;
	padding: 3em 0 0;
	.transition( all 0.2s ease-in );

	ul {
		display: inline-block;
		list-style: none;
		margin: 0;
		padding:0;

		li {
			display: inline-block;
			font-family: @font-family-serif;
			font-size: 1.3em;
			padding: 0 0.8em;

			a {
				text-decoration: none;
				text-transform: uppercase;
				font-weight: bold;
				color: @white-color;
			}
		}
	}

	&.headroom--unpinned {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background: @body-bg;
		z-index: 1000;
		padding: 1em 0 1em;

		.translate( 0, -100% );
	}

	&.headroom--pinned {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background: @body-bg;
		z-index: 1000;
		padding: 1em 0 1em;
		.translate( 0, 0 );

		&.headroom--top {
			position: static;
			padding: 3em 0 0;
		}
	}

	@media (max-width: @screen-sm-max) {

		ul li {
			display: none;

			&.logo {
				display: inline-block;
			}
		}

	}
}

.welcome {

	text-align: center;
	color: @white-color;


	.content {

		width: 552px;
		margin: 0 auto;
		.translate( -16px, 0 );
		text-transform: uppercase;
		font-size: 36px;

		.names {

			.hide-text();
			display: inline-block;
			background: url('../images/aleycris.png') no-repeat center center;
			width: 552px;
			height: 83px;
			margin: 30px 0 20px;

		}

		h2 {
			.featured-title();
			margin-top: 0;
		}

		.date-ribbon {
			color: @body-bg;
			background: url('../images/ribbon.png') no-repeat center center;
			width: 553px;
			height: 79px;
			font-family: @font-family-serif;
			line-height: 79px;
			margin: 20px 0;
		}

		@media (max-width: @screen-sm-max) {

			width: 100%;
			.translate(0,0);
			padding-bottom: 30px;
			font-size: 17px;

			.names {
				width: 100%;
				height: 83px;
				background-size: contain;

			}

			h2 {
				font-size: 65px;
			}

			.date-ribbon {
				width: 100%;
				background-size: contain;
				height: 50px;
				line-height: 50px;
			}

		}
	}
}

.place {
	min-height: 700px;
	height: 100%;
	background: #97d4d9;

	.content {
		position: absolute;
		width: 70%;
		margin: 0 auto;
		background: #fff;
		top: 50%;
		left: 50%;
		.translate(-50%, -50%);

		h2 {
			.featured-title();
			margin-top: 0;
		}

		.info {
			padding: 20px;
			text-align: justify;
			font-size: 23px;

			width: 38%;
			float: left;
		}

		.google-map-canvas {
			width: 62%;
			float: left;
			height: 540px;

			& > div {
				width: 100%;
				height: 100%;
			}
		}
	}

	@media (max-width: 1486px) {

		min-height: 100%;
		height: auto;
		.content {
			.clearfix();
			width: 100%;
			position: static;
			.translate(0,0);
		}

	}

	@media (max-width: @screen-sm-max) {

		height: auto;

		.content {
			width: 100%;
			position: static;
			.translate(0,0);

			.info {
				width: 100%;
				float: none;
			}

			.google-map-canvas {
				width: 100%;
				float: none;
			}
		}

	}
}


.party {
	background: #e8f4ee;
	text-align: center;
	text-transform: uppercase;
	font-size: 24px;
	padding-top: 60px;
	position: relative;

	h2 {
		.featured-title();
		margin-top: 30px;
		margin-bottom: 20px;
	}

	@feature-width: 350px;

	.photos-frame {
		position: absolute;
		top: 265px;
		left: 50px;
		color: #fff;
		.rotate(-4deg);
		text-transform: none;
		background: #e84748;
		font-size: 18px;

		width: 450px;
		padding: 15px;

		h3 {
			font-size: 20px;
			font-family: @font-family-serif;
		}
	}

	.features-wrapper {
		width: @feature-width;
		margin: 0 auto;
		.translate(50%, 0);

		ul {

			padding: 0;

			border-left: 4px solid #cbd5d0;

			list-style: none;
			text-align: left;
			margin-top: 60px;
			margin-bottom: 120px;

			li {

				width: @feature-width;
				padding: 0 0 55px 20px;
				clear: both;
				.clearfix();

				img {
					float: left;
					margin-right: 20px;
				}

				&:nth-child(odd) {
					padding: 0 20px 55px 0;
					text-align: right;
					margin-left: -@feature-width;

					img {
						float: right;
						margin-right: 0;
						margin-left: 20px;
					}
				}

				&.center {
					padding: 0 0 55px 0;
					margin-left: -63px;
					text-align: left;
					.translate(0,0);

					img {
						float: left;
						margin-right: 20px;
						margin-left: 0;
					}
				}

				&.wide {
					width: @feature-width + 100px;
				}

				&:last-child {
					padding-bottom: 0;
				}
			}
		}
	}

	@media (max-width: @screen-sm-max) {

		.photos-frame {
			.rotate(0);
			position: static;
			width: 100%;
		}


		.features-wrapper {
			width: 100%;
			.translate(0,0);

			ul li, ul li:nth-child(odd) {
				margin-left: 0 !important;
				font-size: 18px;
				text-align: left;
				width: 100%;

				img {
					float: left;
					width: 60px;
					height: 60px;
					margin-right: 20px;
				}

				&.center {
					margin-left: -63px !important;
					img {
						width: auto;
						height: auto;
					}
				}

				&.wide {
					width: 95%;
				}
			}
		}


	}


}

.gift {
	background: #e1d9cf url('../images/tripmap.png') no-repeat 470px -100px;
	padding: 80px 0;

	.content {

		width: 40%;

		h2 {
			.featured-title();
		}

		p {
			font-size: 23px;
		}

		.bank-card {
			padding: 20px;
			margin-top: 30px;
			background: rgba(255,255,255,0.4);
			border-radius: 5px;
			font-size: 20px;
		}
	}

	@media (max-width: @screen-sm-max) {
		.content {
			width: 100%;
		}
	}
}


.rsvp {
	padding: 0;
	background: #e8f4ee;

	.bg-line {
	 	background: url('../images/bg-rsvp.png') repeat-x top left;
	 	height: 14px;
	 	margin-top: -14px;
	 	width: 100%;
	}

	.container {
		padding: 80px 10%;
	}


	h2 {
		.featured-title();
	}

	p {
		font-size: 23px;
	}

	.info {
		width: 65%;
	}

	.big-image {
		float: right;
	}

	.invites {
		margin-top: 40px;
		font-family: @font-family-serif;
		text-transform: uppercase;
		.clearfix();

		h3 {

			font-size: 38px;
			color: #000;
			font-weight: bold;

		}

		.invitation-card {
			background: #97d4d9;
			float: left;
			width: 45%;
			margin-right: 2.5%;
			margin-bottom: 20px;
			padding: 20px;
			position: relative;

			color: #fff;
			text-shadow: 0 2px #77a7ab;
			font-weight: bold;

			img {
				float: left;
				margin-right: 10px;
			}

			h4 {
				font-size: 27px;
				margin-bottom: 15px;
			}

			.status {

				position: absolute;
				display: none;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba(0,0,0, 0.8);
				color: #fff;
				z-index: 100;
				text-align: center;
				text-shadow: none;
				font-size: 27px;

				padding-top: 24px;

				&.replied {
					display: block;
				}

			}
		}
	}

	@media (max-width: @screen-sm-max) {
		.info {
			width: 100%;
		}

		.big-image {
			display: none;
		}

		.invites .invitation-card {
			width: 100%;
			float: none;
			text-align: center;

			.decline {
				margin-top: 15px;
			}
		}
	}

}

.file-upload {

	height: 100%;

	header {
		padding: 20px;
		background: #020102;
		position: relative;
		z-index: 1000;
	}

	.dropzone-container {
		background: #e8f4ee;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		padding-top: 90px;
	}

	.thumbs-container {
		background: #e8f4ee;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		padding-top: 90px;
		overflow: auto;

		ul {
			padding: 30px;
			list-style: none;

			li {
				float: left;
				padding: 0;
				margin: 10px;
			}
		}
	}
}

.gm-style-iw * {
    display: block;
    width: 100%;
}
.gm-style-iw h4, .gm-style-iw p {
    margin: 0;
    padding: 0;
}
.gm-style-iw a {
    color: #4272db;
}

.google-map-canvas label { width: auto!important; display:inline!important; }
.google-map-canvas img { max-width: none!important; }

.google-map-canvas, .google-map-canvas * { .box-sizing(content-box); }
