@body-bg: #020102;
@font-family-sans-serif: "Josefin Sans", Helvetica, Arial, sans-serif;
@font-family-serif: 'Arvo', Georgia, serif;
@font-featured: 'Sullivan', Georgia, serif;

@white-color: #e8f4ee;
