/bootstrap/compiled.php
/vendor
/build
/node_modules
/public/assets/styles/*.css
/public/assets/scripts/templates/*.js
/public/vendor/*
composer.phar
.env.local.php
.env.php
.DS_Store
Thumbs.db
/bower_components
